*{
    margin: 0%;
    padding: 0%;
}
h1{
    margin: 4% 15%;
}
h3{
    display: inline;
    padding: 0px 5px;
    margin: 13px auto;
    width: 4%;
}
#subtitulo{
    display: flex;
    margin: 5px 0px;
    width: 92%;
}