#cajapadre{
                    
    display: flex;
   width: 600px;
    
}
#cajapadre > div{
    background-color: red;
    height: 145px;
    margin:5px;
}
#caja-1{
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
#caja-2{
    width: 100px;
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: auto;
}
#caja-3{
    width: 100px;

    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: auto;
}
#caja-4{
    width: 100px;

    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: auto;
}